<section data-ng-controller="IndexController">
  <h1 mean-token="'home-default'">I18N demo</h1>
  <h2>Gettext</h2>
  <div>
    <label>Select language to translate:</label>
    <select ng-model="languages.current" ng-options="key as value for (key, value) in languages.available"></select>
  </div>
  <h3>Translate strings</h3>
  <div>
    <span translate>Hello! This is a sample text to be translated.</span>
  </div>
  <div>
    <span translate>This is a test message</span>
  </div>
  <h3>Context</h3>
  <div>
    <ul>
      <li><div translate-context="verb" translate>work</div> (Verb)</li>
      <li><div translate-context="noun" translate>work</div> (Noun)</li>
    </ul>
  </div>
</section>
